<?xml version="1.0" encoding="utf-8"?>
<PageConfigs>

  <!--在留卡管理-->
  <page name="ZaiLiuKa.ZaiLiuKa.Index" path="/ZaiLiuKa/ZaiLiuKa/Index">
    <group>FileGroup.ZaiLiuKa.ZaiLiuKa.List</group>
    <seo>Seo.Index</seo>
  </page>

  <page name="ZaiLiuKa.ZaiLiuKa.Register" path="/ZaiLiuKa/ZaiLiuKa/Register">
    <group>FileGroup.ZaiLiuKa.ZaiLiuKa.List</group>
    <seo>Seo.Index</seo>
  </page>

  <page name="ZaiLiuKa.ZaiLiuKa.Edit" path="/ZaiLiuKa/ZaiLiuKa/Edit">
    <group>FileGroup.ZaiLiuKa.ZaiLiuKa.List</group>
    <seo>Seo.Index</seo>

    <page name="ZaiLiuKa.ZaiLiuKa.SearchAll" path="/ZaiLiuKa/ZaiLiuKa/SearchAll">
      <group>FileGroup.ZaiLiuKa.ZaiLiuKa.List</group>
      <seo>Seo.Index</seo>
    </page>

  </page>

</PageConfigs>
